.el-pagination {
  padding-right: 10px !important;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li,
.el-pagination .el-select .el-input .el-input__inner {
  background-color: white !important;
  border-radius: 0 !important;
  border: 1px solid #AFACAC !important;
}

.el-pagination.is-background .btn-next:hover,
.el-pagination.is-background .btn-prev:hover,
.el-pagination.is-background .el-pager li:hover,
.el-pagination .el-select .el-input .el-input__inner:hover{
  color: #4C4D66 !important;
  border: 1px solid #4C4D66 !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #4C4D66 !important;
  border-radius: 0 !important;
}
.el-pagination .el-select {
  padding: 0px 5px;
}
.ont-oep-el-select{
  width:100px;
}
.el-select {
  white-space: nowrap;
  padding: 2px 5px;
  color: #303133;
  font-weight: 700;
}
.el-select .el-input .el-input__inner {
  height: 28px;
  font-size:13px;
  border-radius: 0 !important;
  border: 1px solid #AFACAC !important;
}
.el-select .el-input .el-input__inner:hover{
  color: #4C4D66 !important;
  border: 1px solid #4C4D66 !important;
}
.el-select .el-input .el-input__icon {
  line-height: 28px;
  font-size:13px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
  color: white !important;
  background-color: #4C4D66 !important;
}

.el-select .el-input.is-focus .el-input__inner,
.el-select-dropdown__item.selected,
.el-select .el-input__inner:focus {
  color: #4C4D66 !important;
  border-color: #4C4D66 !important;
}
