<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.TesraSupernet.mapper.DailySummaryMapper">
  <resultMap id="BaseResultMap" type="com.github.TesraSupernet.model.dao.DailySummary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="time" jdbcType="INTEGER" property="time" />
    <result column="block_count" jdbcType="INTEGER" property="blockCount" />
    <result column="tx_count" jdbcType="INTEGER" property="txCount" />
    <result column="active_tstid_count" jdbcType="INTEGER" property="activeTstidCount" />
    <result column="new_tstid_count" jdbcType="INTEGER" property="newTstidCount" />
    <result column="tst_sum" jdbcType="DECIMAL" property="tstSum" />
    <result column="tsg_sum" jdbcType="DECIMAL" property="tsgSum" />
    <result column="active_address_count" jdbcType="INTEGER" property="activeAddressCount" />
    <result column="new_address_count" jdbcType="INTEGER" property="newAddressCount" />
  </resultMap>

  <sql id="basicColumns">
    time as time,
    block_count as blockCount,
    tx_count as txCount,
    active_tstid_count as activeTstidCount,
    new_tstid_count as newTstidCount,
    tst_sum as tstSum,
    tsg_sum as tsgSum,
    active_address_count as activeAddressCount,
    new_address_count as newAddressCount
  </sql>


  <select id="selectSummaryByTime" resultType="com.github.TesraSupernet.model.dto.DailySummaryDto">
    select <include refid="basicColumns"/>
    from tbl_daily_summary
    where time &gt;= #{startTime}
    and <![CDATA[ time <= #{endTime} ]]>
    order by time
  </select>

  <select id="selectAddrAndTstIdTotal" resultType="java.util.Map">
    select SUM(new_address_count) as addressTotal, SUM(new_tstid_count) as tstidTotal
    from tbl_daily_summary
    where <![CDATA[ time <= #{startTime} ]]>
  </select>

</mapper>